@page
@model ShoppingAssignment_SE151295.Pages.Products.ProductManageModel

@{
    ViewData["Title"] = "Product Management";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Product Management</h1>

<form method="post">
    <div>
            <p> Search Product</p>
            <input type="text" asp-for="search" placeholder="search"/>
            <input type="submit" value="Search" asp-page-handler="SearchProduct" class="btn btn-primary"/>
        </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].QuantityPerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in   Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
            </td>
            <td>
                <div class="btn-group">
                <a asp-page="./Edit" asp-route-id="@item.ProductId" class="btn btn-sm btn-info">Edit</a>
                <a asp-page="./Delete" asp-route-id="@item.ProductId" class="btn btn-sm btn-danger">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-page="Create" class="btn btn-sm btn-success">Create New</a>
</p>
