@model IEnumerable<BusinessObject.Models.Posts>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}
<style>
    body {
        background-color: #f5faf9;
    }

    .search-posts {
        display: flex;
        flex-flow: row nowrap;
        column-gap: 8px;
        align-items: center;
        margin-bottom: 8px;
    }

    .form-controls {
        height: 40px !important;
    }
</style>
<h1>Post Management</h1>
<form method="post" asp-action="SearchPostView">
    <div class="search-posts">
        <div class="form-group">
            <label for="SearchPosts" class="control-label">SearchPosts</label>
            <input type="text" name="search" class="form-controls" />
        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>

    </div>
</form>
@{
    if (!string.IsNullOrEmpty(ViewBag.ErrMsgSearch))
    {
        <p class="alert alert-danger" role="alert">@ViewBag.ErrMsgSearch</p>
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCategories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUsers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody"></tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-sm btn-success">Create New</a>
</p>

<input type="hidden" name="isMember" value="@ViewBag.IsMemberLogin" />
<input type="hidden" name="UserNameLogin" value="@ViewBag.UserName" />
@section Scripts{
    <script type="text/javascript">
        function openSuccessModal(strMessage) {
            var myDiv = document.getElementById("MyModalSuccessAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalSuccess').modal('show');
        }
        $(document).ready(function () {
            var msg = "@TempData["SuccessMessage"]";
            if (msg)
                openSuccessModal(msg);
        });
    </script>
}