@model IEnumerable<BusinessObject.Models.Posts>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}
<style>
    body {
        background-color: #f5faf9;
    }
   /* .search-product {
        display: flex;
        flex-flow: row nowrap;
        column-gap: 8px;
        align-items: center;
        margin-bottom: 8px;
    }

        .search-product > p {
            margin-bottom: 0;
        }

    .search-input {
        height: 38px !important;
    }*/
</style>
<h1>Post Management</h1>
<form method="post" asp-action="SearchPostView">
    <div class="search-posts">
        <div class="form-group">
            <label for="SearchPosts" class="control-label">SearchPosts</label>
            <input type="text" name="search" class="form-control" />
        </div>
        <input type="submit" value="Search"  class="btn btn-primary" />
        @{
                       if (!string.IsNullOrEmpty(ViewBag.ErrMsgSearch))
            {
                <p class="alert alert-danger" role="alert">@ViewBag.ErrMsgSearch</p>
            }
        }
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCategories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUsers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody"></tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-sm btn-success">Create New</a>
</p>
<input type="hidden" name="isMember" value="@ViewBag.IsMemberLogin" />
<input type="hidden" name="UserNameLogin" value="@ViewBag.UserName" />