@page
@model ShoppingAssignment_SE151295.Pages.OrderDetails.OrderDetailManageModel

@{
    ViewData["Title"] = "OrderDetailManage";
}

<h1>OrderDetailManage</h1>

<p>
    <a asp-page="Create" asp-route-id="@Model.OrderId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Product)
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderDetail) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
               @{
                   Model.Price = item.UnitPrice * item.Quantity;
                   Model.totalPrice += Model.Price;
               } 
               @Model.Price
            </td>
            <td>
@*                 @Html.ActionLink("Edit", "Edit", new { id = item.Order.OrderId}) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
                <a asp-page="./Edit" asp-route-id="@item.OrderId.Trim()" class="btn btn-sm btn-info">Edit</a>
                <a asp-page="./Delete" asp-route-orderid="@item.OrderId.Trim()" asp-route-productid="@item.ProductId" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>    
</table>
<div>
    <h4>Totoal Order: @Model.totalPrice</h4>
    <a asp-page="/Orders/OrderManage" class="btn btn-primary">Back to List</a>
</div>